{% extends "base.html" %}

{% block content %}

<h2 style="font-weight: 600; color: #3b3c3f;">
Categoria: {{ category }}
</h2>

<p style="margin-top: -10px; color: #6b6c6f;">
Artigos relacionados a esta categoria.
</p>

{% if results|length == 0 %}
    <p style="margin-top: 20px; color: #6b6c6f;">
        Nenhum artigo encontrado nesta categoria.
    </p>
{% else %}

<div class="card-grid">

    {% for file in results %}
    <a href="/articles/{{ file }}" style="text-decoration:none;">
        <div class="card">
            <!-- Título formatado -->
            <h3>
                {{ file.replace('.md', '').replace('-', ' ').title() }}
            </h3>
            <p>Clique para acessar o artigo</p>
        </div>
    </a>
    {% endfor %}

</div>

{% endif %}

{% endblock %}
