{% extends "base.html" %}

{% block content %}

<h2 style="font-weight: 600; color: #3b3c3f;">
Resultados para: "{{ query }}"
</h2>

{% if results|length == 0 %}
    <p style="margin-top: 20px; color: #6b6c6f;">
        Nenhum artigo encontrado. Tente outro termo.
    </p>
{% else %}

<div class="card-grid">

    {% for file in results %}
    <a href="/articles/{{ file }}" style="text-decoration:none;">
        <div class="card">
            <h3>{{ file.replace('.md', '').replace('-', ' ').title() }}</h3>
            <p>Clique para abrir o artigo completo</p>
        </div>
    </a>
    {% endfor %}

</div>

{% endif %}

{% endblock %}
